@model Vidly.App.ViewModels.RentalFormViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Customer.Name</h2>

<table id="rented" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $("#rented").DataTable();
    </script>
}

