
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>


<table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Rental No</th>
            <th>Customer</th>
            <th>Date Rented</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>

        $(document).ready(function () {

            $("#rentals").DataTable({
                "processing": true,
                "serverSide": true,
                ajax: {
                    url: "/api/rentals",
                    dataType: "json",
                    async: true
                },
                "language": {
                    "emptyTable": "No record found.",
                    "processing":
                        '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                },
                columns: [
                    {
                        data: "rentalNo"
                    },
                    {
                        data: "customer.name"
                    },
                    {
                        data: "dateRented",
                        render: function (data) {
                            return moment(data).format("MM/DD/YYYY")
                        }
                    },
                    {
                        data: "customer.id",
                        orderable: false,
                        render: function (data, type, row) {
                            if (row.isReturn === true) {
                                return "<a href='/rentals/history/" + data + "'><i class='fa fa-check-square-o text-success'></i></a>"
                            } else
                                return "<a href='/rentals/details/" + data + "'><i class='fa fa-list text-primary'></i></a>";
                        }
                    }
                ]
            });



        })
    </script>
}
