
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                "processing": true,
                "serverSide": true,
                ajax: {
                    url: "/api/movies",
                    dataType: "json",
                    async: true
                },
                "language": {
                    "emptyTable": "No record found.",
                    "processing":
                        '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "rating",
                        render: function (data, type, rating) {
                            let star = "<span class='fa fa-star text-star'>";
                            if (data !== 0) {
                                return star.repeat(data);
                            } else {
                                return ""
                            }
                        }
                    },
                    {
                        data: "id",
                        orderable: false,
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + data + "'><i class='fa fa-pencil-square-o text-primary'></i></a> / <a href='#' class='js-delete' data-movie-id=" + data + "><i class='fa fa-trash-o text-danger'></i></a>";
                        }
                    }
                ]
            })

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        })
                    }
                })
            })
        })
    </script>
}